global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'email'

receivers:
- name: 'email'
  email_configs:
  - to: 'alexjames89900@gmail.com'
    from: 'alertmanager@gmail.com'
    smarthost: 'smtp.gmail.com:587'
    auth_username: 'uhuhiuihiun@gmail.com'
    auth_password: 'hhuiuhiuhib'
    send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']


















